{% extends 'base.html' %}


{% block content %}

    <h1>Frontpage</h1>

    
    {% if user.is_authenticated %}

        <a href="{% url 'homework' %}">See homework</a>
        <a href="{% url 'classes' %}">See class</a>
        <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit">logout</button>
        </form>

    {% else %}

        <a href="{% url 'signup' %}">signup</a>
        <a href="{% url 'login' %}">login</a>
        
    {% endif %}
        

    
{% endblock content %}
    