{% extends 'base.html' %}


{% block content %}


    <a href="{% url 'frontpage' %}">Front</a>

    <h1>Homework</h1>

    <div style="display: flex;">
        <div style="margin: 20px; text-align: center;">
            <h1>Monday</h1>
            {% for homework in homeworks %}{% if homework.due_date == "Monday" %}
            <p>{{homework.subject}}</p>
            <p>{{homework.content}}</p>
            <input type="checkbox" name="done" id="done" class="done">
            {% endif %}{% endfor %}
        </div>

        <div style="margin: 20px; text-align: center;">
            <h1>Tuesday</h1>
            {% for homework in homeworks %}{% if homework.due_date == "Tuesday" %}
            <p>{{homework.subject}}</p>
            <p>{{homework.content}}</p>
            <input type="checkbox" name="done" id="done" class="done">
            {% endif %}{% endfor %}
        </div>

        <div style="margin: 20px; text-align: center;">
            <h1>Wednesday</h1>
            {% for homework in homeworks %}{% if homework.due_date == "Wednesday" %}
            <p>{{homework.subject}}</p>
            <p>{{homework.content}}</p>
            <input type="checkbox" name="done" id="done" class="done">
            {% endif %}{% endfor %}
        </div>

        <div style="margin: 20px; text-align: center;">
            <h1>Thursday</h1>   
            {% for homework in homeworks %}{% if homework.due_date == "Thursday" %}
            <p>{{homework.subject}}</p>
            <p>{{homework.content}}</p>
            <input type="checkbox" name="done" id="done" class="done">
            {% endif %}{% endfor %}
        </div>

        <div style="margin: 20px; text-align: center;">
            <h1>Friday</h1>
            {% for homework in homeworks %}{% if homework.due_date == "Friday" %}
            <p>{{homework.subject}}</p>
            <p>{{homework.content}}</p>
            <input type="checkbox" name="done" id="done" class="done">
            {% endif %}{% endfor %}
        </div>
    </div>
    
    {% if perms.users.is_teacher %}
        <h1>Create Homework</h1>

        <a href="{% url 'create_homework' %}">create_homework</a>
    {% endif %}
    
{% endblock content %}
    